<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>TestEcom</display-name>
  <welcome-file-list>
    <welcome-file>BuyerMainPanel-</welcome-file>
    <welcome-file>SellerMainPanel-</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>   
  <servlet>
    <servlet-name>Controller</servlet-name>
    <servlet-class>ecom.Controller.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/SellerMainPanel</url-pattern>
    <url-pattern>/BuyerMainPanel</url-pattern>
    <url-pattern>/CustomerLogin</url-pattern>
    <url-pattern>/SellerLoginPage</url-pattern>
    <url-pattern>/InitialDashBoard</url-pattern>
    <url-pattern>/Administration</url-pattern>
    <url-pattern>/SellerRegistrationPage</url-pattern>
    <url-pattern>/RegisterSeller</url-pattern>
    <url-pattern>/CustomerRegistrationPage</url-pattern>
    <url-pattern>/RegisterCustomer</url-pattern>
    <url-pattern>/CheckCustomerUserIdFromDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SellerServlet</servlet-name>
    <servlet-class>ecom.SERVLET.seller.SellerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellerServlet</servlet-name>
    <url-pattern>/CreateProduct</url-pattern>
    <url-pattern>/AddProduct</url-pattern>
    <url-pattern>/ViewProductList</url-pattern>
    <url-pattern>/ViewProductList_Ajax</url-pattern>
    <url-pattern>/DeleteProduct</url-pattern>
    <url-pattern>/RetrieveOrderedItemsForSeller</url-pattern>
    <url-pattern>/GenerateTrackNumberCOD</url-pattern>
    <url-pattern>/GenerateTrackNumberBANK</url-pattern>
    <url-pattern>/SetPickedUp</url-pattern>
    <url-pattern>/GetTrackingDetails</url-pattern>
    <url-pattern>/SetItemCancelled</url-pattern>
    <url-pattern>/GeneratePDF</url-pattern>
    <url-pattern>/EditProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RetrieveImageServlet</servlet-name>
    <servlet-class>ecom.common.RetrieveImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveImageServlet</servlet-name>
    <url-pattern>/IconImageFromProduct</url-pattern>
    <url-pattern>/Image1FromProduct</url-pattern>
    <url-pattern>/Image2FromProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditProductServlet</servlet-name>
    <servlet-class>ecom.SERVLET.seller.EditProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProductServlet</servlet-name>
    <url-pattern>/EditBasicProduct</url-pattern>
    <url-pattern>/EditIconImage</url-pattern>
    <url-pattern>/EditImage1</url-pattern>
    <url-pattern>/EditImage2</url-pattern>       
    <url-pattern>/LeggingsEdit</url-pattern>   
  </servlet-mapping>
  <servlet>
    <servlet-name>BuyerServlet</servlet-name>
    <servlet-class>ecom.SERVLET.buyer.BuyerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyerServlet</servlet-name>
    <url-pattern>/SearchBySubCategory</url-pattern>
    <url-pattern>/SearchBySubCategory_Ajax</url-pattern>
    <url-pattern>/AddToCartOrWishlist</url-pattern>
    <url-pattern>/DeleteFromCartWishlistTable</url-pattern>
    <url-pattern>/InsertQtyToCart</url-pattern>
    <url-pattern>/Account</url-pattern>
    <url-pattern>/CallRegistrationPage</url-pattern>
    <url-pattern>/Registration</url-pattern>
    <url-pattern>/CheckUserId</url-pattern>
    <url-pattern>/OrderHistroy</url-pattern>
    <url-pattern>/CancelOrderFromCustomer</url-pattern>
    <url-pattern>/GetDeliveryAddressCustomer</url-pattern>
    <url-pattern>/CheckPincode</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderReviewAndSubmit</servlet-name>
    <servlet-class>ecom.SERVLET.buyer.OrderReviewAndSubmit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderReviewAndSubmit</servlet-name>
    <url-pattern>/OrderReview_ProductDetails</url-pattern>
    <url-pattern>/OrderReview_Cart</url-pattern>
    <url-pattern>/EditDeliveryAddress</url-pattern>
    <url-pattern>/NewDeliveryAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>ecom.SERVLET.administration.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/RetrieveProductForApproval</url-pattern>
    <url-pattern>/ApproveProduct</url-pattern>
    <url-pattern>/FranchiseRegistration</url-pattern>
    <url-pattern>/AddFranchise</url-pattern>
    <url-pattern>/RetrievePinCommission</url-pattern>
    <url-pattern>/SetPin</url-pattern>
    <url-pattern>/SetCommission</url-pattern>
    <url-pattern>/FranchiseAdditionalBalance</url-pattern>
    <url-pattern>/RetrieveOrderedItemsForAdmin</url-pattern>
    <url-pattern>/RetrieveAllSellerForApprovalRegistration</url-pattern>
    <url-pattern>/ApproveSellerRegistrationPage</url-pattern>
    <url-pattern>/ApproveSeller</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FranchiseServlet</servlet-name>
    <servlet-class>ecom.SERVLET.administration.FranchiseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FranchiseServlet</servlet-name>
    <url-pattern>/DistributorRegistration</url-pattern>
    <url-pattern>/AddDistributor</url-pattern>
    <url-pattern>/RetrievePinAreaCommission</url-pattern>
    <url-pattern>/SavePin</url-pattern>
    <url-pattern>/SaveArea</url-pattern>
    <url-pattern>/SaveCommission</url-pattern>
    <url-pattern>/DistributorAdditionalBalance</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>ecom.SERVLET.buyer.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderBank</url-pattern>
    <url-pattern>/OrderCOD</url-pattern>
    <url-pattern>/SuccessServlet</url-pattern>
    <url-pattern>/FailureServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ErrorPagesServlet</servlet-name>
    <servlet-class>ecom.SERVLET.ErrorPages.ErrorPagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorPagesServlet</servlet-name>
    <url-pattern>/ConnectionError</url-pattern>    
  </servlet-mapping>
  <servlet>
    <servlet-name>Test</servlet-name>
    <servlet-class>test.Time</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Time</url-pattern>
  </servlet-mapping>
</web-app>